# Environment variables
**/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker
.dockerignore

# Logs
*.log
logs/audit

# Virtual environment
venv/

# Robot Test Files
robot_tests/

# Test files
test.py

# Ignore the AI generated md files
.kiro
.cursor
.claude

# Ignore the jsonl files
*.jsonl

# Ignore the local browser_service
tools/browser_service_local/*