*** Settings ***
Library    SeleniumLibrary

*** Test Cases ***
User Defined Test
    {% for step in test.steps -%}
    {{ step.keyword |-}}
    {%- if step.locator %}    {{ step.locator }}{% endif -%}
    {%- if step.value %}    {{ step.value }}{% endif %}
    {% endfor %}
